html {
	background: url('documents/wdi/projects/belcortes.github.com/images/copacabana.jpg') no-repeat center center fixed;
	background-size: cover;
}

img {
	height: 32px;
	width: 32px;
}

div {
	width: 420px;
	padding: 15px;
	height: 500px;
	background-color: #35C0F2;
	word-wrap:break-word;
}